### From [Wes McKinney](https://www.youtube.com/watch?v=0unf-C-pBYE)

## Part 1

In [5]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
pd.__version__

u'0.18.0'


| |Series, DataFrame, Panel |                                            |
|---------------------------------------------------------------------|
| GroupBY, Pivoting|  Indexing, data alignment |  Time Series         |
|      IO          |  Merging / Joining        |  Summary Stats       |
|     Plotting     |  Regression               |  Sparse Indexing     |

In [9]:
index = ['a','b','c','d','e']
s = Series(np.arange(5), index=index)
s

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [10]:
s.index

Index([u'a', u'b', u'c', u'd', u'e'], dtype='object')

In [11]:
s['b']

1

In [12]:
s['b':]

b    1
c    2
d    3
e    4
dtype: int32

In [13]:
s[['b','d','e']]

b    1
d    3
e    4
dtype: int32

In [15]:
dates = pd.date_range('2012-07-16', '2012-07-21')
dates

DatetimeIndex(['2012-07-16', '2012-07-17', '2012-07-18', '2012-07-19',
               '2012-07-20', '2012-07-21'],
              dtype='datetime64[ns]', freq='D')

In [17]:
atemps = Series([101.5, 98, 95, 99, 100, 102], index=dates)
atemps

2012-07-16    101.5
2012-07-17     98.0
2012-07-18     95.0
2012-07-19     99.0
2012-07-20    100.0
2012-07-21    102.0
Freq: D, dtype: float64

In [18]:
atemps.index

DatetimeIndex(['2012-07-16', '2012-07-17', '2012-07-18', '2012-07-19',
               '2012-07-20', '2012-07-21'],
              dtype='datetime64[ns]', freq='D')

In [19]:
atemps.index[2]

Timestamp('2012-07-18 00:00:00', offset='D')

In [20]:
idx = atemps.index[2]
atemps[idx]

95.0

In [21]:
sdtemps = Series([73,78,72,77,78,77], index= dates)
sdtemps

2012-07-16    73
2012-07-17    78
2012-07-18    72
2012-07-19    77
2012-07-20    78
2012-07-21    77
Freq: D, dtype: int64

In [22]:
temps = DataFrame({'Austin':atemps, 'San Diego':sdtemps})
temps

            Austin  San Diego
2012-07-16   101.5         73
2012-07-17    98.0         78
2012-07-18    95.0         72
2012-07-19    99.0         77
2012-07-20   100.0         78
2012-07-21   102.0         77

In [26]:
temps.index

DatetimeIndex(['2012-07-16', '2012-07-17', '2012-07-18', '2012-07-19',
               '2012-07-20', '2012-07-21'],
              dtype='datetime64[ns]', freq='D')

In [23]:
temps.columns

Index([u'Austin', u'San Diego'], dtype='object')

In [24]:
temps['Austin']

2012-07-16    101.5
2012-07-17     98.0
2012-07-18     95.0
2012-07-19     99.0
2012-07-20    100.0
2012-07-21    102.0
Freq: D, Name: Austin, dtype: float64

In [28]:
temps.Austin

2012-07-16    101.5
2012-07-17     98.0
2012-07-18     95.0
2012-07-19     99.0
2012-07-20    100.0
2012-07-21    102.0
Freq: D, Name: Austin, dtype: float64

In [25]:
temps['Diff'] = temps['Austin']  - temps['San Diego']
temps

            Austin  San Diego  Diff
2012-07-16   101.5         73  28.5
2012-07-17    98.0         78  20.0
2012-07-18    95.0         72  23.0
2012-07-19    99.0         77  22.0
2012-07-20   100.0         78  22.0
2012-07-21   102.0         77  25.0

In [27]:
del temps['Diff']
temps

            Austin  San Diego
2012-07-16   101.5         73
2012-07-17    98.0         78
2012-07-18    95.0         72
2012-07-19    99.0         77
2012-07-20   100.0         78
2012-07-21   102.0         77

In [30]:
# select row
temps.ix[2]

Austin       95.0
San Diego    72.0
Name: 2012-07-18 00:00:00, dtype: float64

In [33]:
# select rows
temps.ix[[2,3,4]]

            Austin  San Diego
2012-07-18    95.0         72
2012-07-19    99.0         77
2012-07-20   100.0         78

In [38]:
temps.ix[2, 'Austin']

95.0

In [40]:
temps.ix[2, ['Austin', 'San Diego']]

Austin       95.0
San Diego    72.0
Name: 2012-07-18 00:00:00, dtype: float64

In [48]:
# columns' mean , default
temps.mean(0)

Austin       99.250000
San Diego    75.833333
dtype: float64

In [49]:
# rows' mean
temps.mean(1)

2012-07-16    87.25
2012-07-17    88.00
2012-07-18    83.50
2012-07-19    88.00
2012-07-20    89.00
2012-07-21    89.50
Freq: D, dtype: float64

In [51]:
temps[temps['Austin'] > 100]

            Austin  San Diego
2012-07-16   101.5         73
2012-07-21   102.0         77

In [55]:
temps.to_csv('temps.csv')

In [71]:
df = pd.read_csv('temps.csv')
df

   Unnamed: 0  Austin  San Diego
0  2012-07-16   101.5         73
1  2012-07-17    98.0         78
2  2012-07-18    95.0         72
3  2012-07-19    99.0         77
4  2012-07-20   100.0         78
5  2012-07-21   102.0         77

In [90]:
df = pd.read_csv('temps.csv', index_col=[0])
df

            Austin  San Diego
2012-07-16   101.5         73
2012-07-17    98.0         78
2012-07-18    95.0         72
2012-07-19    99.0         77
2012-07-20   100.0         78
2012-07-21   102.0         77

In [91]:
df.index[0]

'2012-07-16'

In [95]:
df.columns

Index([u'Austin', u'San Diego'], dtype='object')

In [103]:
# find help
pd.read_csv?

## Part 2

In [110]:
pd.Timestamp.mro()   # method resolution order

[pandas.tslib.Timestamp,
 pandas.tslib._Timestamp,
 datetime.datetime,
 datetime.date,
 object]

In [115]:
stamp = pd.Timestamp('07/15/2016 10:43:45')
stamp

Timestamp('2016-07-15 10:43:45')

In [116]:
stamp.value

1468579425000000000L

In [117]:
stamp.year

2016

In [118]:
stamp.month

7

In [119]:
stamp.strftime('%Y%m%d')

'20160715'

In [120]:
from datetime import datetime

In [121]:
dates = ['2016-07-16', '2016-07-18', '2016-07-20']
dates

['2016-07-16', '2016-07-18', '2016-07-20']

In [122]:
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-07-16', '2016-07-18', '2016-07-20'], dtype='datetime64[ns]', freq=None)

In [123]:
Series(range(3), index=dates)

2016-07-16    0
2016-07-18    1
2016-07-20    2
dtype: int64

In [129]:
dates = ['07/07/2016', '07/09/2016', '07/12/2016']
dates

['07/07/2016', '07/09/2016', '07/12/2016']

In [135]:
pd.to_datetime(dates, dayfirst=True)  # '07' will be parse as day

DatetimeIndex(['2016-07-07', '2016-09-07', '2016-12-07'], dtype='datetime64[ns]', freq=None)

In [136]:
ts = Series(range(3), index=dates)
ts.index[0]

'07/07/2016'

In [137]:
isinstance(ts.index[0], datetime)

False

In [138]:
ts = Series(range(3), index=pd.to_datetime(dates))
ts.index[0]

Timestamp('2016-07-07 00:00:00')

In [139]:
isinstance(ts.index[0], datetime)

True

## Indexing

In [140]:
rng = pd.date_range('2012-07-17', periods=1000)
rng

DatetimeIndex(['2012-07-17', '2012-07-18', '2012-07-19', '2012-07-20',
               '2012-07-21', '2012-07-22', '2012-07-23', '2012-07-24',
               '2012-07-25', '2012-07-26',
               ...
               '2015-04-03', '2015-04-04', '2015-04-05', '2015-04-06',
               '2015-04-07', '2015-04-08', '2015-04-09', '2015-04-10',
               '2015-04-11', '2015-04-12'],
              dtype='datetime64[ns]', length=1000, freq='D')

In [142]:
ts = Series(np.arange(1000), index=rng)
ts[:10]

2012-07-17    0
2012-07-18    1
2012-07-19    2
2012-07-20    3
2012-07-21    4
2012-07-22    5
2012-07-23    6
2012-07-24    7
2012-07-25    8
2012-07-26    9
Freq: D, dtype: int32

In [146]:
ts.ix['2012-07-18']

1

In [147]:
ts['2012-07-20 07:00':'2012-07-30 12:00']

2012-07-21     4
2012-07-22     5
2012-07-23     6
2012-07-24     7
2012-07-25     8
2012-07-26     9
2012-07-27    10
2012-07-28    11
2012-07-29    12
2012-07-30    13
Freq: D, dtype: int32

In [149]:
ts2 = ts.take(np.random.permutation(len(ts)))
ts2[:5]

2013-12-24    525
2012-11-26    132
2014-05-02    654
2013-04-20    277
2012-11-21    127
dtype: int32

In [150]:
ts2.sort_index()

2012-07-17      0
2012-07-18      1
2012-07-19      2
2012-07-20      3
2012-07-21      4
2012-07-22      5
2012-07-23      6
2012-07-24      7
2012-07-25      8
2012-07-26      9
2012-07-27     10
2012-07-28     11
2012-07-29     12
2012-07-30     13
2012-07-31     14
2012-08-01     15
2012-08-02     16
2012-08-03     17
2012-08-04     18
2012-08-05     19
2012-08-06     20
2012-08-07     21
2012-08-08     22
2012-08-09     23
2012-08-10     24
2012-08-11     25
2012-08-12     26
2012-08-13     27
2012-08-14     28
2012-08-15     29
             ...
2015-03-14    970
2015-03-15    971
2015-03-16    972
2015-03-17    973
2015-03-18    974
2015-03-19    975
2015-03-20    976
2015-03-21    977
2015-03-22    978
2015-03-23    979
2015-03-24    980
2015-03-25    981
2015-03-26    982
2015-03-27    983
2015-03-28    984
2015-03-29    985
2015-03-30    986
2015-03-31    987
2015-04-01    988
2015-04-02    989
2015-04-03    990
2015-04-04    991
2015-04-05    992
2015-04-06    993
2015-04-07    994
2015-04-08    995
2015-04-09    996
2015-04-10    997
2015-04-11    998
2015-04-12    999
dtype: int32

In [151]:
ts['2012']

2012-07-17      0
2012-07-18      1
2012-07-19      2
2012-07-20      3
2012-07-21      4
2012-07-22      5
2012-07-23      6
2012-07-24      7
2012-07-25      8
2012-07-26      9
2012-07-27     10
2012-07-28     11
2012-07-29     12
2012-07-30     13
2012-07-31     14
2012-08-01     15
2012-08-02     16
2012-08-03     17
2012-08-04     18
2012-08-05     19
2012-08-06     20
2012-08-07     21
2012-08-08     22
2012-08-09     23
2012-08-10     24
2012-08-11     25
2012-08-12     26
2012-08-13     27
2012-08-14     28
2012-08-15     29
             ...
2012-12-02    138
2012-12-03    139
2012-12-04    140
2012-12-05    141
2012-12-06    142
2012-12-07    143
2012-12-08    144
2012-12-09    145
2012-12-10    146
2012-12-11    147
2012-12-12    148
2012-12-13    149
2012-12-14    150
2012-12-15    151
2012-12-16    152
2012-12-17    153
2012-12-18    154
2012-12-19    155
2012-12-20    156
2012-12-21    157
2012-12-22    158
2012-12-23    159
2012-12-24    160
2012-12-25    161
2012-12-26    162
2012-12-27    163
2012-12-28    164
2012-12-29    165
2012-12-30    166
2012-12-31    167
Freq: D, dtype: int32

In [152]:
ts['2012-09':'2012-10']

2012-09-01     46
2012-09-02     47
2012-09-03     48
2012-09-04     49
2012-09-05     50
2012-09-06     51
2012-09-07     52
2012-09-08     53
2012-09-09     54
2012-09-10     55
2012-09-11     56
2012-09-12     57
2012-09-13     58
2012-09-14     59
2012-09-15     60
2012-09-16     61
2012-09-17     62
2012-09-18     63
2012-09-19     64
2012-09-20     65
2012-09-21     66
2012-09-22     67
2012-09-23     68
2012-09-24     69
2012-09-25     70
2012-09-26     71
2012-09-27     72
2012-09-28     73
2012-09-29     74
2012-09-30     75
             ...
2012-10-02     77
2012-10-03     78
2012-10-04     79
2012-10-05     80
2012-10-06     81
2012-10-07     82
2012-10-08     83
2012-10-09     84
2012-10-10     85
2012-10-11     86
2012-10-12     87
2012-10-13     88
2012-10-14     89
2012-10-15     90
2012-10-16     91
2012-10-17     92
2012-10-18     93
2012-10-19     94
2012-10-20     95
2012-10-21     96
2012-10-22     97
2012-10-23     98
2012-10-24     99
2012-10-25    100
2012-10-26    101
2012-10-27    102
2012-10-28    103
2012-10-29    104
2012-10-30    105
2012-10-31    106
Freq: D, dtype: int32

In [156]:
df = DataFrame(np.arange(4000).reshape(1000,4), index=rng, columns= ['Colorado', 'Texas', 'New York', 'Maryland'])
df.head()

            Colorado  Texas  New York  Maryland
2012-07-17         0      1         2         3
2012-07-18         4      5         6         7
2012-07-19         8      9        10        11
2012-07-20        12     13        14        15
2012-07-21        16     17        18        19

In [160]:
df.ix['2012-07']

            Colorado  Texas  New York  Maryland
2012-07-17         0      1         2         3
2012-07-18         4      5         6         7
2012-07-19         8      9        10        11
2012-07-20        12     13        14        15
2012-07-21        16     17        18        19
2012-07-22        20     21        22        23
2012-07-23        24     25        26        27
2012-07-24        28     29        30        31
2012-07-25        32     33        34        35
2012-07-26        36     37        38        39
2012-07-27        40     41        42        43
2012-07-28        44     45        46        47
2012-07-29        48     49        50        51
2012-07-30        52     53        54        55
2012-07-31        56     57        58        59

In [163]:
df.ix['2012-07-20']

Colorado    12
Texas       13
New York    14
Maryland    15
Name: 2012-07-20 00:00:00, dtype: int32

In [164]:
from datetime import timedelta

In [167]:
start = datetime(2012,12,31)
df.ix[start:start + timedelta(days=5)]

            Colorado  Texas  New York  Maryland
2012-12-31       668    669       670       671
2013-01-01       672    673       674       675
2013-01-02       676    677       678       679
2013-01-03       680    681       682       683
2013-01-04       684    685       686       687
2013-01-05       688    689       690       691

In [169]:
df.ix[start: start + pd.offsets.Day(5)]

            Colorado  Texas  New York  Maryland
2012-12-31       668    669       670       671
2013-01-01       672    673       674       675
2013-01-02       676    677       678       679
2013-01-03       680    681       682       683
2013-01-04       684    685       686       687
2013-01-05       688    689       690       691

## Frequencies

In [172]:
list(pd.date_range('2016-01-01', periods=3))

[Timestamp('2016-01-01 00:00:00', offset='D'),
 Timestamp('2016-01-02 00:00:00', offset='D'),
 Timestamp('2016-01-03 00:00:00', offset='D')]

In [180]:
list(pd.date_range('2016-01-01', periods=3, freq='MS'))   # 'M' month end; 'MS' month start

[Timestamp('2016-01-01 00:00:00', offset='MS'),
 Timestamp('2016-02-01 00:00:00', offset='MS'),
 Timestamp('2016-03-01 00:00:00', offset='MS')]

In [181]:
list(pd.date_range('2016-01-01', periods=3, freq='W'))

[Timestamp('2016-01-03 00:00:00', offset='W-SUN'),
 Timestamp('2016-01-10 00:00:00', offset='W-SUN'),
 Timestamp('2016-01-17 00:00:00', offset='W-SUN')]

In [185]:
list(pd.date_range('2016-01-01', periods=3, freq='A-JAN'))  # annual

[Timestamp('2016-01-31 00:00:00', offset='A-JAN'),
 Timestamp('2017-01-31 00:00:00', offset='A-JAN'),
 Timestamp('2018-01-31 00:00:00', offset='A-JAN')]

In [186]:
list(pd.date_range('2016-01-01', periods=3, freq='Q'))  # quarter

[Timestamp('2016-03-31 00:00:00', offset='Q-DEC'),
 Timestamp('2016-06-30 00:00:00', offset='Q-DEC'),
 Timestamp('2016-09-30 00:00:00', offset='Q-DEC')]