## [Password and hijacked email dataset for you to test your data science skills](http://www.datasciencecentral.com/forum/topics/password-dataset-for-you-to-test-your-data-science-skills)

### Anyway, the reason for sharing the password data set with you is for you to test your data science skills: try to answer the following questions:

- What are the most common patterns found in passwords?
- Based on these patterns, how to build robust yet easy-to-remember passwords?
- Does this password data set look OK, or do you think it is somewhat inaccurate or not representative of the password universe? If not, can we still draw valid conclusions from this data set, and how?

Data is available [here](http://www.dazzlepod.com/site_media/txt/passwords.txt)

In [43]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [44]:
fh = open('passwords.txt', 'r+')

for line in fh.readlines()[:20]:
    print line

http://www.dazzlepod.com/site_media/txt/passwords.txt

#

# This is a list of 2,151,220 unique ASCII passwords sorted in random order.

# This list (also known as wordlist, password dictionary or password list)

# is useful for password recovery tools such as John the Ripper, Hashcat,

# Aircrack-ng and KisMAC. To use this file, be sure to first remove these

# comment lines, i.e. the lines starting with # character.

#

# If you are looking for a better password dictionary,

# see http://dazzlepod.com/uniqpass/

#

# $Revision: #9 $

# $DateTime: 2012/01/26 15:37:45 $

#

# Comments/Questions? Send to disclosure@dazzlepod.com

#

07606374520

piontekendre

rambo144

primoz123

In [46]:
for line in fh.readlines()[:20]:
    print line

In [2]:
# to get help pd.read_csv?
passwords = pd.read_csv('passwords.txt',header=None, skiprows=16, sep='\t', names=['password'])  #

In [3]:
passwords.head(5)

       password
0   07606374520
1  piontekendre
2      rambo144
3     primoz123
4       sal1387

In [5]:
passwords.tail(5)

            password
1936795     26778982
1936796      brazer1
1936797   usethisone
1936798  scare222273
1936799     anto1962

In [6]:
passwords.shape

(1936800, 1)

In [9]:
passwords['length'] = passwords.password.map(lambda x: len(str(x)))

In [10]:
passwords.head(5)

       password  length
0   07606374520      11
1  piontekendre      12
2      rambo144       8
3     primoz123       9
4       sal1387       7

In [13]:
passwords.length.max()

734943

In [17]:
passwords[passwords['length'] >100]

                                                  password  length
38833    ><script>alert(1)</script>\n123Lenda#\nhallibu...  155920
374277   \n251885394\nmello2\nmaitre1123\nfk6Ehruu\nthi...   10822
438678   39<0Y~c.;A1Bj\n3ddd4t\n516ks516\nag0931266\nac...   61775
501401   12345\nhdjcb100\n060571\nkaalimaa\nrelaxmax\nd...  409783
523790   or1=1--\n13817676085\n594112\nmactools\n880148...  106186
688515   pass\nmbmb266888\n1988luolin\n15877487956\ncri...  116093
768830   ==)!)(=\naviral\nrimmir33\nhutcheson\nrr801201...   17079
940981   AAj6H\nweebeth\nmonitor222\nem1981\nalexs123\n...  214057
968376   Enn'720\nvimpula\n675424\nalibercn08\n06847625...   79065
1145207  &A!R&(\nminavain\ntrakson\ngivemethe\nfuckshad...   12107
1300960  lollol\nakz4rt1548\n703s3c\nrollwen820124\npas...  734943
1735727  8095662\nchang977989\nzachary1\ntorah0706\nkiz...   17966
1751550  33#\nwood8888\n3101216\ngobelin123\nssolis\nsc...   75143

In [20]:
# check how many unique passwords
uniq_passwords = passwords.password.unique()
uniq_passwords.shape

(1936460L,)

In [18]:
s = pd.Series(['A', 'B','a','a','a','A'])
s

0    A
1    B
2    a
3    a
4    a
5    A
dtype: object

In [21]:
fh = open('passwords.txt', 'r', skip=n)

In [19]:
s.unique()

array(['A', 'B', 'a'], dtype=object)